*{
    font-family: 'Indie Flower', cursive;
}


body {
    background-color: bisque;
}






h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

.settings {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 80%;
}

text{
    font-family: Arial, Helvetica, sans-serif;
}

.task-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

input {
    padding: 2px;
    border: none;
    border-radius: 15px;
    background: #e3d2a4;
    padding-left: 100px;
    padding-right: 100px;
}

button {
    background: #e3d2a4;
    border: none;
    padding: 7px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}







#myStack{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 130px;
}

.toDoList{
    background-color: rgb(235, 210, 154);
    border-radius: 60px;
    width: 30%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 23px;
    margin-top: 100px;
}

h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
}

.note{

    font-size: 20px;
    font-family: 'Indie Flower', cursive;

}

#myStack button{
    background-color: rgb(233, 196, 111);
    padding: 15px 80px;
    border-radius: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
















