*{
    background-color: bisque;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

h1{
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
}

nav img{
    width: auto;
    height: 68px;
}

nav button{
    width: 140px;
    border-radius: 60px;
    height: 60px;
    background-color: rgb(233, 196, 111);;
}

#parametre{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 40px;
    gap: 10px;
    margin-left: 35px;
}

div button{
    height: 120px;
    background-color: rgb(233, 196, 111);
    border-radius: 15px;
    font-size: 30px;
}
