header {
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

header nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

header nav h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

header nav div {
    margin-right: 200px;
}

header nav a img {
    display: none;
}

main {
    display: inline;
    gap: 50px;
}

main div {
    margin-left: 10px;
    width: 80%;
    margin-left: 35px;

}

main div button {
    margin-left: 65px;
    width: 60%;
}

main section article {
    gap: 50px;
}

main section {
    gap: 40px;
}

section {
    margin-top: 50px;
}

.button {
    margin-top: 0px;
    width: 100%;
}

.aside {
    width: 80%;
    height: 40vh;
}

footer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}